<div class = "row">
	<div class = "col-md-9">
		<h1>Group Hub</h1>
	</div>
	<div class = "col-md-3">
		<br><br><br>
		<% if current_user %>
			<%= link_to 'New Post', new_post_path, :class => "btn btn-primary", :type => "button", :method => :get  %>
		<% end %>
	</div>
</div>

<br><br>

<% @posts.each do |post| %>
<div class = "fluid-container posting">
	<div class = "posting-inner">
		<br>
		<div class = "row">
		  <div class = "col-md-3">
		    <h1><%= post.title %></h1>
		  </div>
		  <div class = "col-md-offset-6 col-md-3">
		  	<p><%= post.user.email %></p>
		  </div>
		</div>
		<div class = "row">
		  <div class = "col-md-10">
		    <p><%= post.description %></p>
		  </div>
		</div>
		<div class = "row">
		  <div class = "col-md-offset-10 col-md-2">
		    <%= link_to 'Show', post, :class => "btn btn-default", :type => "button", :method => :get  %>
		  </div>
		  <br><br><br>
		</div>
	</div>
</div>
<br><br>
<% end %>